@import "tailwindcss";

@theme {
    --font-manrope: var(--font-manrope);
    --font-montserrat: var(--font-montserrat);

    --color-urban-pink: #d41c68;
}


body {
    font-family:
        var(--font-manrope),
        system-ui, -apple-system, sans-serif;
    ;
}